---
import Layout from "../../layouts/Layout.astro";
import ApiClient from "../../lib/api-client/ApiClient";
import { KpiCard } from "../../components/react/KpiCards";
export function getStaticPaths() {
  return [
    { params: { labId: 1 } },
    { params: { labId: 2 } },
    { params: { labId: 3 } },
    { params: { labId: 4 } },
    { params: { labId: 5 } },
    { params: { labId: 6 } },
    { params: { labId: 7 } },
    { params: { labId: 8 } },
    { params: { labId: 9 } },
  ];
}

//TODO : get mocked data for transport modes and modal split (KPI 15)
// init json file for a living lab, from WP1 reports
const api = new ApiClient();

const { labId } = Astro.params;
const livingLabKpis = await api.getLivingLabAndData(Number(labId));
---

<Layout>
  <div class="lg:mx-20 mx-auto px-4 py-8 flex flex-col gap-8">
    <h2><strong>{livingLabKpis?.name}</strong>Living lab data dashboard</h2>
    <h3>Key Performance Indicators (KPIs)</h3>
    <p>Explore the KPIs related to the living lab.</p>

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      {
        livingLabKpis?.kpi_results.map((kpiResult) => (
          <KpiCard kpiResults={kpiResult} client:load />
        ))
      }
    </div>
  </div>
</Layout>
