---
import Layout from "../../layouts/Layout.astro";
import { LivingLabKPIsEdition, InfoAlert } from "../../components/react";
import ApiClient from "../../lib/api-client/ApiClient";

//TODO : get mocked data for transport modes and modal split (KPI 15)
// init json file for a living lab, from WP1 reports
const api = new ApiClient();

const labId = 2;
const kpis = await api.getKPIs({});
const modalSplitKpi = kpis.find((kpi) => kpi.kpi_number === "15");
const filteredKpis = kpis.filter(
  (kpi) =>
    kpi.id !== modalSplitKpi?.id && kpi.parent_kpi_id !== modalSplitKpi?.id
);
const livingLabKpis = await api.getLivingLabAndData(labId);
const categories = await api.getCategories("KPI_SIEF");
---

<Layout role="editor">
  <div class="mx-auto px-4 py-8 flex flex-col gap-8">
    <h2>Share your Key Performance Indicators - KPI</h2>
    <p>Find the relevant KPIs for seamless urban mobility.</p>

    <InfoAlert
      title="How to calculate KPIs ?"
      icon="question"
      variant="success"
      actionText="Access documentation"
    >
      <small
        >Access the survey template and documents to support your KPI
        calculations.</small
      >
    </InfoAlert>

    <LivingLabKPIsEdition
      categories={categories}
      kpis={filteredKpis}
      livingLabId={labId}
      kpiResults={livingLabKpis?.kpi_results || []}
      client:load
    />
  </div>
</Layout>
