---
import "../styles/global.css";
import { SidebarMenu, SiteNavBar } from "../components/react/ui";
import ApiClient from "../lib/api-client/ApiClient";
import { getUrl } from "../lib/helpers";

interface Props {
  role: "visitor" | "editor" | "admin";
}

const { role = "visitor" } = Astro.props;
const api = new ApiClient();
const labs = await api.getLivingLabs();
const labsItems = labs.map((lab) => ({
  href: getUrl(`/living-lab-city/${lab.id}`),
  label: lab.name,
}));

const userInfo = Astro.locals.user
  ? {
      name: Astro.locals.user?.name ?? "User",
      email: Astro.locals.user?.email ?? "",
    }
  : undefined;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href={getUrl("/favicon.ico")} />
    <meta name="generator" content={Astro.generator} />
    <title>SUM Open Data Platform</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={getUrl("/apple-touch-icon.png")}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={getUrl("/favicon-32x32.png")}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={getUrl("/favicon-16x16.png")}
    />
    <link rel="manifest" href={getUrl("/site.webmanifest")} />
  </head>
  <body>
    {
      role === "visitor" && (
        <SiteNavBar livingLabs={labsItems} client:load>
          <slot />
        </SiteNavBar>
      )
    }
    {
      role === "editor" && (
        <SidebarMenu userInfo={userInfo} client:load>
          <slot />
        </SidebarMenu>
      )
    }
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
